<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDM7gCtLbNeEqZ-GyaThVe99P6mfG72sEM</string>
	<key>GCM_SENDER_ID</key>
	<string>668176432034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deya.DinLipi</string>
	<key>PROJECT_ID</key>
	<string>dinlipifinal</string>
	<key>STORAGE_BUCKET</key>
	<string>dinlipifinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668176432034:ios:08ab2a87f61ca9481150fb</string>
	<key>DATABASE_URL</key>
	<string>https://dinlipifinal-default-rtdb.firebaseio.com</string>
</dict>
</plist>